@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular-OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular-OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular-OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular-OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansBold-OpenSansBold.eot");
    src: url("../fonts/OpenSansBold-OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold-OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold-OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}